.f-l{
    float: left;
}
.box{
    width: 50%;
    //padding-top: 50px;
    border: solid;
    border-radius: 15px;
    // background-color: skyblue;
}
.f-c{
    margin: auto;
}
.f-r{
    float: right;
}
.pad-7{
    margin-top: 7px;
}
.ba-img{
    background-image: image();
}
// .checkText{
//     position: relative;
// }
