.positionRight{
    float: right;
}
.lbl{
    float: left;
}
.imgAddProduct{
    width: 91px;
    height: 91px;
    border-style: solid;
    border-color: black;
}
.mr-10{
    margin-right: 10px;
}
.magin-a{
    margin: auto;
    margin-top: 20px;
}