.mt-10{
    margin-top: 10px;
}
.m-a{
    margin: auto;
    padding: auto;
    margin-top: 25%;
}
@media screen and (max-width: 768px) {
    // .card{
    //     transform: scale(0.7);
    // }
}
// #itemContent{
//     // display: flex;
//     // grid-auto-flow: column;
//     // grid-auto-columns: calc((100% / 4));
//     // overflow-x: auto;
// }